@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700');

* {box-sizing: border-box;}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}


/*Navbar*/


.navbar-nav {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  margin-bottom: 5px;
  width: 100%;
  background-color: transparent;
  text-align: center;
}


.nav-item {
  display: inline-block;
  list-style-type: none;
  margin-left: 25px;
  margin-top: 10px;
}

.nav-item-active {
  display: inline-block;
  list-style-type: none;
  margin-left: 25px;
  font-size: 25px;
}


.navbar-collapse {
  display: flex;
  float: right;
}

.navbar-collapse.show {
  background-color: #f7f7f7;
  opacity: 0.9;
  margin-right: 380px;
  text-align: center;
  border-radius: 5px;
  margin-left: 8px;
  border-right-width: 20px;
  padding-right: 20px;
}


.dropdown-menu {
  left: 30%;
}

.dropdown-menu.show {
  margin-top: 0px;
  left: 333px;
}

.navbar.dropdownmenulink.navlink.dropdown-toggle {
  width: 166px;
}

.navbar-expand-sm .narbar-nav .dropdown-menu {
  position: static;
}

.dropdown-item {
  background-color: #f7f7f7;
}


.dropdown-item:hover {
  background-color: #D9EF81;
  color: #434738;
}


.navbar-toggler {
  margin-left: 10px;
}


.nav-item button {
  color: #434738;
  background-color: #b5d43c;
  border-color: #434738;
  margin-top: 0px;
}

.nav-item button:hover {
  color: #e6e3e3;
}

.nav-link {
  color: #434738;
}

.nav-link a {
  margin-left: 10px;
}



a:link {
  color: #434738;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
}

a:hover {
  background-color: #e6e3e3;
  border-radius: 8px;
}

.navbar-right {
  display: inline-flex;
  margin-top: 10px;
  width: 40%;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  margin-bottom: 5px;
  background-color: transparent;
  text-align: center;
}

.navbar-right .nav-item {
  width: 100%;
  justify-content: space-around;
  float: right;
  margin-left: 15px; 
}





 
/*Modal*/

.modal-content i {
  color: #B5D43C;
}

.modal-content button {
  color: #434738;
  background-color: #b5d43c;
  border-color: #434738;
}
 
.modal-content button:hover {
  background-color: #e6e3e3;
}
  
.modal-footer button {
  color: #434738;
  background-color: #b5d43c;
  border-color: #f7f7f7;
  border-radius: 5px;
}
 
.modal-footer button:hover {
  background-color: #f7f7f7;
  color: #434738;
}



  
/*Home page*/


.home-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.home-container img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Madrid.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  display: block;
}



.home-container h1 {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 700;
  width: 100%;
  height: auto;
}


.home-container h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
  width: 100%;
  height: auto;
}


.home-container a {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: white;
  background-color: #b5d43c;
  cursor: pointer;
  border-color: #434738;
  border-radius: 8px;
  border-style: solid;
}

.home-container a:hover {
  color: #000;
}


.btn-rentout {
  margin-left: 190px;
  padding-right: 4px;
  padding-left: 3px;
}



/* Media queries Home page */


/* Laptops/desktops, 992px and up) no media query defined*/


/* Tablets and large phones, 577px to 992px) */

@media screen and (min-width: 577px) and (max-width: 992px) {
  .home-container h1 {
  top: 30%;
  }
  
  .home-container h2 {
  top: 40%;
  }
  
  .home-container a {
    font-weight: 400;
  }
  
}

/* Mobile phones, 576px and down */

@media screen and (max-width: 576px) {
 .home-container h1 {
  top: 25%; 
 }
  
  .home-container h2 {
  top: 40%;
 
  }
  
  .home-container a {
  padding: 3px 6px;
  top: 60%;
  left: 30%;
  font-size: 12px;
}
}



/* Call to action - Home page */


.cta-container {
	margin: 20px;
	padding: 15px;
	text-align: center;
}
	
.btn-lg {
  background-color: #b5d43c;
  color: white;
	border-radius: 5px;
	border-color: #434738;
	border-style: solid;
}	


/* Media queries for Call to action */

@media screen and (max-width: 767px) {
	.cta {
		text-align: center;
		margin-top: 20px;
	}
	.btn-lg {
		margin-top: 20px;
		margin-bottom: 10px;
		width: 80px;
		height: 30px;
		font-size: 12px;
	}
}



/* Footer*/

.container-footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #333333;
  text-align: center;
}


.container-footer .col {
  vertical-align: top;
  width: 33%;
  height: auto;
  float: left;
  margin-top: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  text-align: center;
  margin-bottom: 0;
  background-color: #333333;
}

.container-footer h3 {
  margin-top: 30px;
  padding: 0;
  font-family:'Nunito', sans-serif;
  font-size: 1.75rem;
  padding: 20px 0px 5px 0px;
  color: #b5d43c;
}

.container-footer p {
	display: inline-block;
	color: #f7f7f7;
	vertical-align: middle;
	font-size: 14px;
	margin: 20px;
}



.container-footer .footer-icons {
	margin-top: 25px;
}
 
.container-footer .footer-icons a {
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color:  #d9ef81;
	border-radius: 2px;
	color: #434738;
}

.container-footer .footer-icons a:hover {
  background-color: #b5d43c;
}



.container-footer .footer-company-about span {
	display: block;
	color:  #b5d43c;
	font-size: 16px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 15px;
} 

.footer-company-about {
	line-height: 20px;
	color:  #e6e3e3;
	font-size: 10px;
	font-weight: lighter;
	margin-top: 20px;
}
 

.container-footer .footer-right i {
	background-color: #333333;
	color: #d9ef81;
	font-size: 25px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.info {
  margin-top: 20px;
}

.fa.fa-phone {
  margin-right: 26px;
  
}
 
 
.container-footer .footer-right p {
	display: inline-block;
	color: #f7f7f7;
	font-size: 12px;
} 


.container-footer .footer-right p a {
	color:  #f7f7f7;
	text-decoration: none;
} 

.container-footer .footer-right p a:hover {
  text-decoration: underline;
  background-color: transparent;
}

 
.clearfix {
  clear: both;
}

/* Media queries for Footer */



/* Break point extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .container-footer .col {
    width: 100%; 
  }
}

/* Break point small devices (portrait tablets and large phones, 577px and up) */
@media only screen and (min-width: 577px) {
  .container-footer .col {
    width: 100%; 
  }
}

/* Break point medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container-footer .col {
    width: 33%; 
  } 
}



/* Search Apartment Page */


.container-search h2 {
  margin-top: 70px;
}

.container-slider-board {
  margin: 20px;
}


  
.suitch i {
  color: #b5d43c;
}


select {
  border-radius: 5px;
  background-color: #f7f7f7;
}



.col-lg-3 {
  margin: 10px;
}

.slider-container {
  width: 25%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #b5d43c;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  border-radius: 5px;
  background: #434738;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: #434738;
  cursor: pointer;
}

button {
  color: #434738;
  background-color: #b5d43c;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: center;
}

button:hover {
  color: #e6e3e3;
}


.row {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px;
}

.gallery {
  border: 1px solid #ccc;
  background-color: #D9EF81;
  width: 100%;
  height: auto;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  padding-top: 10px;
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

.bed-room, .bath-room, .rent-price  {
    text-align: center;
}

.col-12 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.col-md-12 {
  padding: 0px;
}

.col-md-3 {
  display: inline-flex;
  padding: 5px;
}


.map-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}


.view-card-header {
  text-align: center;
  margin-top: 20px;
}

div#map {min-height: 360px;}




/* Rentout page */

.rentout-container {
  box-sizing: border-box;
  width: 100%;
  margin-top: 100px;
  background-color: #d9ef81;
  padding: 20px;
}

.jumbotron {
  margin-bottom: 0px !important;
  background-color: #f7f7f7;
  
}



.container-fuid {
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.contact {
  padding-left: 30px;
}

.row-contact {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
  margin-left: 0px;
  padding-left: 0px;
}

.col-sm-6 {
  padding-left: 0 !important;
}


.col-sm-6 img {
  background-position: left bottom;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


input[type=file] {
  margin-right: 320px;
  margin-top: 10px;
}

input[type=submit] {
  background-color: #b5d43c;
  color: #000;
  padding: 12px 20px;
  border-style: solid;
  border-width: medium;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: #d9ef81;
}

.form-row p {
  margin-right: 60px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
  clear: both;
}



.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
  margin-right: -15px;
}

.col-75 {
  float: left;
  width: 80%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 576px) {
  .col-sm-6 form {
  text-align: left;
  margin-left: 10px;
  }
  .col-25, .col-75 {
  width: 100%;
  margin-top: 0;
  }
  input[type=submit] {
  width: 30%;
  margin-top: 15px;
}
}





/* Home Staging page*/ 

.homestaging-container {
  box-sizing: border-box;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 0px;
  padding: 20px;
}

.container-steps {
  margin-top: 20px;
  margin-bottom: 20px;
}


.homestaging-jumbotron {
  background-color: #d9ef81;
  border-radius: 8px;
  padding: 20px;
}


.steps {
  background-color: #474e5d;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}


.steps::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #b5d43c;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -25%;
}

/* Place the container to the right */
.right {
  left: 25%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 768px wide */
@media screen and (max-width: 768px) {
/* Place the timelime to the left */
  .steps::after {
    left: 31px;
  }
  .left {
    left: 0;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.content i {
  color: #b5d43c;
  margin-left: 30px;
}

.content a:link {
  background-color: #d9ef81;
}


.projects-container {
  background-color: #f7f7f7;
  padding-top: 50px;
}

.display-container {
  background-color: #d9ef81;
  color: #000;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 5px;
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}


.col-md-6 img {
  margin: 10px;
  display: flex;
	width: 50%;
	height: auto;
}